body {
  background: radial-gradient(closest-side at 50% 50%, black, rgb(45, 30, 65));
  min-height: 100vh;
  margin: 0px;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  animation: gradient 15s ease infinite;
  overflow: hidden;
}

.container {
  height: 280px;
}

img {
  width: 360px;
}

/* Main Menu */
h1 {
  color: rgb(219, 216, 0);
  text-align: center;
  -webkit-text-stroke: black 2px;
}

.stars {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  white-space: nowrap;
  animation: stars 100s ease infinite;
}

h5 {
  padding: 0;
  color: red;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  text-shadow: 2px 2px 15px #fff, 2px 2px 10px #fff;
}

.buttons {
  display: grid;
  translate: 0px -40px;
}

.back {
  color: #ff5c46;
}

.back:hover {
  color: #a73d2f;
}

form {
  display: grid;
}

button {
  transition: color 0.3s ease-in-out;
  display: grid;
  border: none;
  color: white;
  display: list-item;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
  background: none;
  scale: 125%;
}

button:hover {
  color: #67acff;
}

@keyframes gradient {
	0% {
		background-size: 100% 100%;
	}
	50% {
		background-size: 200% 200%;
    background-position: 50% 50%;
	}
	100% {
		background-size: 100% 100%;
	}
}

@keyframes stars {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

@media (max-width: 700px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  iframe {
    scale: 45%;
    translate: -25%;
  }

  .back {
    translate: -25%;
  }
}